@import url('https://fonts.googleapis.com/css2?family=Manjari:wght@100;400;700&family=Syncopate:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Manjari, Arial, Helvetica, sans-serif;
}

body {
  background-color: #ffffff;
  
}